body {
    display: flex;
    background-image: url('../images/weather3.gif');
    /* background-repeat: no-repeat; */
    background-position: center;
    /* background-size: cover; */
    background-clip: content-box;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgba(248, 244, 243, 0.371);
    border-radius: 15px;
    height: 70vh;
    width: 45%;
    margin-left: 27%;
    margin-top: 40px;
    padding: 15px;
    text-align: justify;
    background-color: #f2f4f547;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.46);    
}

.home-sub-container {
    display: flex;
}

.home-sub-container input {
    height: 40px;
    width: 80%;
    margin-top: 0px;
    margin-bottom: 20px;
    outline: none;
    text-align: center;
    border-radius: 5px;
    border: none;
    background: #ffe9e9;
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.287);
}
.home-sub-container input, .home-container input::placeholder {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

.home-sub-container button {
    margin-left: 15px;
    cursor: pointer;
    font-weight: 600;
    height: 40px;
    width: 35%;
    border-radius: 5px;
    border: 1px solid #0c0d0d4b;
    background: #477068;
}
.home-sub-container button:hover{
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.412);
    background: #09e1b66f;
}